<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<authorizers>

{%- if nifi_authorizers_ldap_enabled %}

  <userGroupProvider>
    <identifier>file-user-group-provider</identifier>
    <class>org.apache.nifi.authorization.FileUserGroupProvider</class>
    <property name="Users File">{{ nifi_authorizers_users_file }}</property>
    <property name="Legacy Authorized Users File"></property>
    <property name="Initial User Identity 1"></property>
  </userGroupProvider>

  <userGroupProvider>
    <identifier>ldap-user-group-provider</identifier>
    <class>org.apache.nifi.ldap.tenants.LdapUserGroupProvider</class>
    <property name="Authentication Strategy">SIMPLE</property>

    <property name="Manager DN">{{ nifi_authorizers_manager_dn }}</property>
    <property name="Manager Password">{{ nifi_authorizers_manager_password }}</property>

    <property name="Referral Strategy">{{ nifi_authorizers_referral_strategy }}</property>
    <property name="Connect Timeout">{{ nifi_authorizers_connect_timeout }}</property>
    <property name="Read Timeout">{{ nifi_authorizers_read_timeout }}</property>

    <property name="Url">{{ nifi_authorizers_url }}</property>
    <property name="Page Size"></property>
    <property name="Sync Interval">{{ nifi_authorizers_sync_interval }}</property>

    <property name="User Search Base">{{ nifi_authorizers_user_search_base }}</property>
    <property name="User Object Class">{{ nifi_authorizers_user_object_class }}</property>
    <property name="User Identity Attribute">{{ nifi_authorizers_user_identity_attribute }}</property>
    <property name="User Group Name Attribute">{{ nifi_authorizers_user_group_name_attribute }}</property>
    <property name="User Search Scope">{{ nifi_authorizers_user_search_scope }}</property>
    <property name="User Search Filter">{{ nifi_authorizers_user_search_filter }}</property>

    <property name="Group Search Base">{{ nifi_authorizers_group_search_base }}</property>
    <property name="Group Object Class">{{ nifi_authorizers_group_object_class }}</property>
    <property name="Group Name Attribute">{{ nifi_authorizers_group_identity_attribute }}</property>
    <property name="Group Member Attribute">{{ nifi_authorizers_group_member_attribute }}</property>
    <property name="Group Search Scope">{{ nifi_authorizers_group_search_scope }}</property>
    <property name="Group Search Filter">{{ nifi_authorizers_group_search_filter }}</property>
  </userGroupProvider>

  <userGroupProvider>
    <identifier>composite-configurable-user-group-provider</identifier>
    <class>org.apache.nifi.authorization.CompositeConfigurableUserGroupProvider</class>
    <property name="Configurable User Group Provider">file-user-group-provider</property>
    <property name="User Group Provider 1">ldap-user-group-provider</property>
  </userGroupProvider>

  <accessPolicyProvider>
    <identifier>file-access-policy-provider</identifier>
    <class>org.apache.nifi.authorization.FileAccessPolicyProvider</class>
    <property name="User Group Provider">composite-configurable-user-group-provider</property>
    <property name="Authorizations File">{{ nifi_authorizers_authorizations_file }}</property>
    <property name="Initial Admin Identity">{{ nifi_authorizers_initial_admin_identity }}</property>
        {% if nifi_nodes_list | length > 0 -%}
        {% for node in nifi_nodes_list -%}
        <property name="Node Identity {{ loop.index }}">CN={{ node }}, OU=NIFI</property>
        {% endfor -%}
        {% endif -%}
 </accessPolicyProvider>

  <authorizer>
    <identifier>managed-authorizer</identifier>
    <class>org.apache.nifi.authorization.StandardManagedAuthorizer</class>
    <property name="Access Policy Provider">file-access-policy-provider</property>
  </authorizer>

{%- else %}
    <authorizer>
        <identifier>file-provider</identifier>
        <class>org.apache.nifi.authorization.FileAuthorizer</class>
        <property name="Authorizations File">{{ nifi_conf_dir }}/authorizations.xml</property>
        <property name="Users File">{{ nifi_conf_dir }}/users.xml</property>
        <property name="Initial Admin Identity">{{ nifi_initial_admin | default('') }}</property>
        <property name="Legacy Authorized Users File"></property>
        {% if nifi_nodes_list | length > 0 -%}
        {% for node in nifi_nodes_list -%}
        <property name="Node Identity {{ loop.index }}">CN={{ node }}, OU=NIFI</property>
        {% endfor -%}
        {% endif -%}
        <!-- Provide the identity (typically a DN) of each node when clustered, see above description of Node Identity.
        <property name="Node Identity 1"></property>
        <property name="Node Identity 2"></property>
        -->
    </authorizer>
{%- endif %}
</authorizers>
