<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<loginIdentityProviders>
{%- if nifi_login_identity_providers_authorizers_ldap_enabled %}
  <provider>
    <identifier>ldap-provider</identifier>
    <class>org.apache.nifi.ldap.LdapProvider</class>
    <property name="Authentication Strategy">{{ nifi_login_identity_providers_authentication_strategy }}</property>
    <property name="Identity Strategy">{{ nifi_login_identity_providers_identify_strategy }}</property>
    <property name="Manager DN">{{ nifi_login_identity_providers_manager_dn }}</property>
    <property name="Manager Password">{{ nifi_login_identity_providers_manager_password }}</property>
    <property name="Connect Timeout">{{ nifi_login_identity_providers_connect_timeout }}</property>
    <property name="Read Timeout">{{ nifi_login_identity_providers_read_timeout }}</property>
    <property name="Url">{{ nifi_login_identity_providers_url }}</property>
    <property name="Referral Strategy">{{ nifi_login_identity_providers_referral_strategy }}</property>
    <property name="User Search Base">{{ nifi_login_identity_providers_user_search_base }}</property>
    <property name="User Search Filter">{{ nifi_login_identity_providers_user_search_filter }}</property>
    <property name="Authentication Expiration">{{ nifi_login_identity_providers_authentication_exporation }}</property>
  </provider>
{%- endif %}
</loginIdentityProviders>