[Unit]
Description=Apache NiFi
After=syslog.target network.target

[Service]
LimitNOFILE={{ nifi_open_file_limit }}
User={{ nifi_user }}
Group={{ nifi_user }}
Type=forking
ExecStart={{ nifi_base_dir }}/nifi-current/bin/nifi.sh start
ExecStop={{ nifi_base_dir }}/nifi-current/bin/nifi.sh stop
ExecRestart={{ nifi_base_dir }}/nifi-current/bin/nifi.sh restart
[Install]
WantedBy=multi-user.target
